VITE_ANALYTICS_ENDPOINT=
VITE_ANALYTICS_WEBSITE_ID=
NEXT_PUBLIC_GA_ID=G-S6448TRP0T
POSTMARK_SERVER_TOKEN=
POSTMARK_MESSAGE_STREAM=outbound
FORM_ALERT_TO=Info@woodinvillesportsclub.com
FORM_ALERT_FROM="WSC Website <Info@woodinvillesportsclub.com>"
FORM_SUBMISSIONS_DIR=./data/form-submissions
FORM_WEBHOOK_URL=
